.hero {
    padding: 200px 0;
    background-color: var(--bgd-secondary-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fon/hero-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    &__title {
        width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--t-light-color);
    }
}